@mixin btnHeader($fontColor, $bgColor) {
	color: darken($fontColor, 15%);
	outline: none;
	transition: all 0.3s;
	&:hover {
		color: $fontColor;
		background-color: $bgColor;
	}
}

.headerNav {
	background-color: lighten($mainColor, 10%);
	padding: 0.3rem 1rem;
		&_logo {
			width: 70px;
			position: relative;
			top: 26px;
		}

		.navbar-toggler {
			@include btnHeader($navLinkColor, $mainColor);
			&[aria-expanded="true"] {
				margin-bottom: 0px;
			}
		}

		.navbar-nav {
			.nav-item {
				@media (max-width: 992px) {
					&:nth-child(1) {
						margin-top: 40px;
					}
				}
			}

			.nav-link {
				font-size: 1.5em;
				padding: 0.5rem 0.5rem;
				@include btnHeader($navLinkColor, $mainColor);

				@media (max-width: 992px) {
					border-top: 2px solid lighten($mainColor, 5%);
				}
			}
		}

	.no-js &_open {
		display: block;
	}
} 
