@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
h1, h2, h3, h4, h5, h6, *[class$='_subTitle'] {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif'; }

.headerAnimate {
  background-color: #64a59a; }
  .headerAnimate_title {
    font-size: 2.4rem;
    font-weight: bold; }
    @media (max-width: 576px) {
      .headerAnimate_title {
        font-size: 1.9rem; } }
  .headerAnimate_subTitle {
    font-size: 2.6rem;
    color: #fff;
    font-weight: lighter; }
    @media (max-width: 576px) {
      .headerAnimate_subTitle {
        font-size: 2rem; } }

.headerNav {
  background-color: #84b8af;
  padding: 0.3rem 1rem; }
  .headerNav_logo {
    width: 70px;
    position: relative;
    top: 26px; }
  .headerNav .navbar-toggler {
    color: #d9d9d9;
    outline: none;
    transition: all 0.3s; }
    .headerNav .navbar-toggler:hover {
      color: #ffffff;
      background-color: #64a59a; }
    .headerNav .navbar-toggler[aria-expanded="true"] {
      margin-bottom: 0px; }
  @media (max-width: 992px) {
    .headerNav .navbar-nav .nav-item:nth-child(1) {
      margin-top: 40px; } }
  .headerNav .navbar-nav .nav-link {
    font-size: 1.5em;
    padding: 0.5rem 0.5rem;
    color: #d9d9d9;
    outline: none;
    transition: all 0.3s; }
    .headerNav .navbar-nav .nav-link:hover {
      color: #ffffff;
      background-color: #64a59a; }
    @media (max-width: 992px) {
      .headerNav .navbar-nav .nav-link {
        border-top: 2px solid #74aea5; } }
  .no-js .headerNav_open {
    display: block; }
