.header-nav {
  color: #fff; }

.btn_menu, div.menu button.btn_default, div.menu button.btn_primary, div.menu button.btn_success {
  line-height: 1.25;
  padding: .5rem .75rem;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
  transition: all .15s ease-in-out; }

div.menu button.btn_default {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #444; }
  div.menu button.btn_default:hover {
    background-color: #d2d2d2;
    border-color: #999999; }

div.menu button.btn_primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: #fff; }
  div.menu button.btn_primary:hover {
    background-color: #32769d;
    border-color: #2c688a; }

div.menu button.btn_success {
  background-color: #008d4c;
  border-color: #398439;
  color: #fff; }
  div.menu button.btn_success:hover {
    background-color: #006436;
    border-color: #2d682d; }

.testeCor1 {
  background-color: #3865e4; }
  .testeCor1:hover {
    background-color: #1d4dd6; }

.testeCor2 {
  background-color: #3bd123; }
  .testeCor2:hover {
    background-color: #2fa51c; }

.testeCor5 {
  background-color: #3bd123; }
  .testeCor5:hover {
    background-color: #2fa51c; }
