.header-animate {
  height: 300px;
  background-color: #64a59a; }

.header-nav {
  background-color: #84b8af;
  padding: 0.3rem 1rem; }
  .header-nav .header_nav__logo {
    width: 70px;
    position: relative;
    top: 26px; }
  .header-nav .navbar-toggler {
    color: #d9d9d9;
    outline: none;
    transition: all 0.3s; }
    .header-nav .navbar-toggler:hover {
      color: #ffffff;
      background-color: #64a59a; }
    .header-nav .navbar-toggler[aria-expanded="true"] {
      margin-bottom: 0px; }
  .header-nav .show .navbar-nav .nav-item:nth-child(1), .header-nav .collapsing .navbar-nav .nav-item:nth-child(1) {
    margin-top: 40px; }
  .header-nav .show .navbar-nav .nav-link, .header-nav .collapsing .navbar-nav .nav-link {
    font-size: 1.5em;
    border-top: 2px solid #74aea5;
    padding: 0.5rem 0.5rem;
    color: #d9d9d9;
    outline: none;
    transition: all 0.3s; }
    .header-nav .show .navbar-nav .nav-link:hover, .header-nav .collapsing .navbar-nav .nav-link:hover {
      color: #ffffff;
      background-color: #64a59a; }
  .no-js .header-nav .header-nav--open {
    display: block; }
